$maincolor : #4999E2;

body {
    //background-color: #eee;
    .alert {
        color: red;
    }
}

.myInput{
	border-radius: 20px;
	outline: none;
	padding: 6px 10px 6px 10px;
	width: 500px;
}

.ui.secondary.menu {
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
}

.rounded {
    border-radius: 10px !important;
    overflow: hidden;
}

.ui.projects.card {
    // height: auto;
    transition: all .25s ease-in-out;
    background-color: $maincolor;
    text-align: left;
    margin: 0 10px 20px 10px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .1);
    height: 35vh;
    width: 35vh;
    min-height: 200px;
    min-width: 200px;
    // font-size: calc((4vh + 2vmin)/4);
    font-size: 75%;
    .ui.label{
        height: auto;
        width: auto;
        // border-color: green;
        // color: green;
        // background-color: rgb(73,197,182);
    }
    overflow-wrap:break-word;
    .header{
        padding: 5% 5% 0 5%;
    }
    .meta{
        font-size: 1em;
        padding-left: 5%; 
        color: rgba(255, 255, 255, 0.726);            
    }
    .description{
        padding: 3% 3% 0 3%;
        font-size: 3em;            
        color: white;  
        overflow: auto;  
        border-radius: 5%;     
    }
    > .extra{
        // background-color: rgb(73,197,182);
        padding: 3% 7% 0% 7%;
    }

    .content>.header:not(.ui){
        font-size: 2em;
        color: white;    
    }

    &:hover{
        transform: scale(1.007);
        // border-radius: 10px;
        background-color: $maincolor;
        box-shadow: 0px 0px 20px 0px $maincolor;
    }
}