.dashboard {
    padding: 2em 0;

    h1 {
        color: #3A95E5;
        padding: .3em;
        border-bottom: 2px solid #3A95E5;
    }
}

.description, .user-name {
    -webkit-transition-property: all;
    -webkit-transition-duration: 2s;
    -webkit-transition-timing-function: ease;
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;

    input {
        box-sizing: border-box;
        padding: 0;
        font: inherit;
        border:none;
        background: transparent;
        border-bottom: 2px dashed lightgrey;

        &:focus { outline:none; }
    }
}

.user-name {
    font-size: 2em !important;

    input {
        width: 70%;
        overflow-wrap: break-word;
    }
}

.description {
    font-size: 1.2em !important;

    input {
        width: 100%;
        overflow-wrap: break-word;
        padding-bottom: .3em;
    }
}