.my-projects {
    .row {
        overflow: auto;
        flex-wrap: nowrap;
    }

    .card {
        //height: 260px !important;
        .hide {
            text-align: right;
            position: absolute;
            top: 20px;
            right: 20px;
            color: grey;

            &:hover {
                color: darkred !important;
            }
        }

        .ui.label{
            margin: 0 3px 6px 3px;
            height: 30px;
            width: 80%;
            text-align: center;
            background-color: white;
            color: black;
            border-radius: 0.5vw;
            border-color: black;
            overflow: hidden;
        } 
    }
}