$maincolor : white;
$fontcolor : black;
// $mainfont
// #4999E2 1E8BC3 22A7F0


.Mainpage {
    top: 60px;
    background-color: white;
    text-align: center;
    position: fixed;
    height: 100vh;
/*    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);*/


    .postGrid{
        top: 80px;
        bottom: 20px;
        position: fixed;
        right: 0;
        left: 250px;
        // right: 50px;
        padding: 5vh 2vw;
        display: flex;
        // width: 90vw;
        margin: auto;
        // flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        max-height: 100%;  
        /*// align-items: ;*/
        .ui.label{
            margin: 0 3px 6px 3px;
            height: 30px;
            width: 80%;
            text-align: center;
            background-color:$maincolor;
            color: $fontcolor;
            border-radius: 0.5vw;
            border-color: $fontcolor;
            overflow: hidden;
        }
    }

    .sidebar{
        h3{
            color: $fontcolor;
        }
        transition: all .25s ease-in-out;
        position: relative;
        float: left;
        height: 100vh;
        width: 200px;
        padding: 13vh 0 0 20px; 
        overflow: auto;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.24);
        
        /*// background-color: lightblue;*/
        .centerdiv{
            display: block;
            margin: 0 auto;
        }
        &:hover{
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
    }

    .popularTags{
        margin-top: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        align-self: auto;
        .ui.label{
            margin: 0 3px 6px 3px;
            height: 30px;
            width: 80%;
            text-align: center;
            background-color:$maincolor;
            color: $fontcolor;
            border-radius: 0.5vw;
            border-color: $fontcolor;
            overflow: hidden;
            border: none;
        }
    }

    .filters{
        margin-top: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        align-self: auto;
        .ui.label{
            margin: 0 3px 6px 3px;
            height: 30px;
            width: 80%;
            text-align: center;
            background-color:$maincolor;
            color: $fontcolor;
            border-radius: 0.5vw;
            border: none;
        }

    }

    .vr {
        width:0.3vw;
        background-color: $maincolor;
        position:absolute;
        top:40px;
        bottom:100px;
        left:230px;
        border-radius: 0.5vw;
    }

    hr{
        width:100px;
        // height: 0.3vh;
        margin-top: 5vh;
        margin-bottom: 5vh; 
        background-color: $maincolor;
        border-radius: 0.5vw;
        border-color: $maincolor;
    }

    // .ui.card {
    //     // height: auto;
    //     transition: all .25s ease-in-out;
    //     background-color: $maincolor;
    //     text-align: left;
    //     margin: 0 10px 20px 10px;
    //     // box-shadow: 0px 0px 15px 2px black;
    //     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    //     height: 45vh;
    //     width: 35vh;
    //     min-height: 200px;
    //     min-width: 200px;
    //     // font-size: calc((4vh + 2vmin)/4);
    //     font-size: 75%;
    //     border-radius: 4%;
    //     overflow-wrap:break-word;
    //     .ui.label{
    //         height: auto;
    //         width: auto;
    //         font-family: 'Maven Pro', sans-serif;
    //     }
    //     .header{
    //         padding: 5% 5% 0 5%;
    //         font-family: 'Maven Pro', sans-serif;
    //         font-weight: bold;
    //     }
    //     .meta{
    //         font-size: 1em;
    //         padding-left: 5%; 
    //         color: $fontcolor;  
    //         font-family: 'Maven Pro', sans-serif;          
    //     }
    //     .description{
    //         font-family: 'Maven Pro', sans-serif;
    //         position: relative;
    //         display: inline;
    //         padding: 3% 3% 0 3%;
    //         font-size: 3em;            
    //         color: $fontcolor;  
    //         overflow: hidden;  
    //         border-radius: 5%;     
    //     }
    //     > .extra{
    //         // background-color: rgb(73,197,182);
    //         position: absolute;
    //         top: 80%;
    //         width: 100%;
    //         padding: 3% 7% 0% 7%;
    //     }
    //     .content>.header:not(.ui){
    //         font-size: 2em;
    //         color: $fontcolor;   
    //         font-family: 'Maven Pro', sans-serif; 
    //     }
    // }
    .ui.card:hover{
        transform: scale(1.007);
        // border-radius: 10px;
        background-color: $maincolor;
        // box-shadow: 0px 0px 20px 0px black;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }



}