$maincolor : #4999E2;

.Mainpage {
    top: 60px;
    background-color: white;
    text-align: center;
    position: fixed;
    height: 100vh;
/*    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);*/


    .postGrid{
        top: 80px;
        bottom: 20px;
        position: fixed;
        right: 0;
        left: 250px;
        padding: 5vh 3vw;
        display: flex;
        width: 90vw;
        margin: auto;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        max-height: 100%;  
        /*// align-items: ;*/
        .ui.label{
            margin: 0 3px 6px 3px;
            height: 30px;
            width: 80%;
            text-align: center;
            background-color:$maincolor;
            color: white;
            border-radius: 0.5vw;
            border-color: white;
            overflow: hidden;
        }
    }

    .sidebar{
        position: relative;
        float: left;
        height: 100vh;
        width: 200px;
        padding: 13vh 0 0 20px; 
        
        /*// background-color: lightblue;*/
        .centerdiv{
            display: block;
            margin: 0 auto;
        }
    }

    .popularTags{
        margin-top: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        align-self: auto;
        .ui.label{
            margin: 0 3px 6px 3px;
            height: 30px;
            width: 80%;
            text-align: center;
            background-color:$maincolor;
            color: white;
            border-radius: 0.5vw;
            border-color: $maincolor;
            overflow: hidden;
        }
    }

    .filters{
        margin-top: 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        align-self: auto;
        .ui.label{
            margin: 0 3px 6px 3px;
            height: 30px;
            width: 80%;
            text-align: center;
            background-color:$maincolor;
            color: white;
            border-radius: 0.5vw;
        }

    }

    .vr {
        width:0.3vw;
        background-color: $maincolor;
        position:absolute;
        top:40px;
        bottom:100px;
        left:230px;
        border-radius: 0.5vw;
    }

    hr{
        width:100px;
        height: 0.3vh;
        margin-top: 5vh;
        margin-bottom: 5vh; 
        background-color: $maincolor;
        border-radius: 0.5vw;
    }

    .ui.card {
        // height: auto;
        transition: all .25s ease-in-out;
        background-color: $maincolor;
        text-align: left;
        margin: 0 10px 20px 10px;
        box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, .1);
        height: 35vh;
        width: 35vh;
        .ui.label{
            height: auto;
            width: auto;
        }
        border-radius: 1vw;
        overflow-wrap:break-word;
        .header{
            padding: 5% 5% 0 5%;
            font-size: 5em;
        }
        .meta{
            font-size: 1em;
            padding-left: 5%; 
            color: rgba(255, 255, 255, 0.726);            
        }
        .description{
            padding: 5% 5% 0 5%;
            color: white;  
            overflow: hidden;          
        }
        > .extra{
            // background-color: white;
            padding: 2% 7%;
        }

        .content>.header:not(.ui){
            font-size: 2em;
            color: white;    
        }
    }
    .ui.card:hover{
        transform: scale(1.007);
        // border-radius: 10px;
        background-color: $maincolor;
        box-shadow: 0px 0px 20px 0px $maincolor;
    }



}