.navbar{
    background-color: #3A95E5 !important;
    padding: 5px;
}

.myLogo{
	padding: 10px;
	color: white;
	font-size: 20px;
}

.myInput{
	width: 400px;
}

.myPlus{
	color: white;
	padding: 10px;
	resize: 30px;
}

.myImage{
	height: 40px;
	width: 40px;
	padding: 0px;
}
