.navbar{
    background-color: #3A95E5 !important;
	padding: 5px;
	height: 60px;
}

.myLogo{
	// padding: 10px;
	// position: absolute;
	padding: 10px 0 0 20px;
	color: white;
	font-size: 40px;
	top: 20px;
	left: 20px;
}

.myInput{
	width: 400px;
	padding-left: 10px; 
}

.myPlus{
	color: white;
	padding: 13px 15px 0 0;
	resize: 30px;
}

.myImage{
	height: 50px;
	width: 50px;
	margin-right: 13px;
}