$maincolor : #4999E2;

body{
	margin: 0;
}

.ui.modals{
	
}

.ui.label{
    background-color:$maincolor;
    color: white;
    border-radius: 0.5vw;
    border-color: white;
    border-width: 0.1vw;
}

.bg-blue{
	background-color: $maincolor !important;
}

.header{
	height: 30%;
	
	span{
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 3%;
		color: white;
	}

	.extra{
		/*background-color: red;*/
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		.labels .meta{
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.meta{
			font-size: 1vw;
			color: white;
			opacity: .5;
		}
		.labels{
			margin: 0.5%
		}
	}
}

.content{
	.description{
		margin: 2%;
		p{
			color: white;
		}
	}

	.skills{
		margin: 2%;
	}
}

.ui.form{
	margin: 2% 12% 2% 12%;
}

.default-modal{
	.actions{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#button-join{
		background-color: white;
		color: $maincolor;
		border-radius: 2vw;
		width: 30vw;
	}
}





#form-message{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	#button-submit{
		background-color: white;
		color: $maincolor;
		border-radius: 2vw;
		width: 30vw;
		margin: 1rem
	}
}




.pop-up-modal{
	.header.span{
		display: flex;
		align-items: center;
		justify-content: center;
	}

}
